# NOTE `libqfielsync` version should be defined in the `*.tar.gz` format, not `git+https://` to make `wheel` happy
libqfieldsync @ https://github.com/opengisch/xlsform2qgis/archive/a597ab1bd0cbe9022f3c94314fd739a3d239107f.tar.gz

