name: Continuous integration

on:
  push:
    branches:
      - master
      - release-**
  pull_request:
    branches:
      - '**'
  release:
    types: ['prereleased', 'released']

  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'release' }}
    env:
      OSGEO_USERNAME: ${{ secrets.OSGEO_PLUGIN_USERNAME }}
      OSGEO_PASSWORD: ${{ secrets.OSGEO_PLUGIN_PASSWORD }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_REF: ${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt update && sudo apt install qtbase5-dev qttools5-dev-tools
          sudo pip install qgis-plugin-ci --break-system-packages

      - name: Package xlsform2qgis
        run: |
          pip wheel $(grep -o -P '(https://.*.tar.gz)' requirements.txt)
          XLSFORM2QGIS_COMMIT_SHA=$(echo $(grep -o -P '((https://github\.com/opengisch/xlsform2qgis/.*.tar.gz))' requirements.txt) | grep -Eo '[0-9a-f]{40}')
          mv xlsform2qgis-*.whl xlsformconverter/xlsform2qgis_${XLSFORM2QGIS_COMMIT_SHA}.whl

      - name: Release
        run: |
          XLSFORM2QGIS_COMMIT_SHA=$(echo $(grep -o -P '((https://github\.com/opengisch/xlsform2qgis/.*.tar.gz))' requirements.txt) | grep -Eo '[0-9a-f]{40}')
          RELEASE_VERSION=${GITHUB_REF##*/}
          RELEASE_TAG=${GITHUB_REF##*/}
          qgis-plugin-ci release ${RELEASE_VERSION} \
              --release-tag ${RELEASE_TAG} \
              --github-token ${GITHUB_TOKEN} \
              --osgeo-username ${OSGEO_USERNAME} \
              --osgeo-password ${OSGEO_PASSWORD} \
              --asset-path xlsformconverter/xlsform2qgis_${XLSFORM2QGIS_COMMIT_SHA}.whl

  package:
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'workflow_dispatch' }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update && sudo apt install qtbase5-dev qttools5-dev-tools
          sudo pip install qgis-plugin-ci --break-system-packages

      - name: Package xlsform2qgis
        run: |
          pip wheel $(grep -o -P '(https://.*.tar.gz)' requirements.txt)
          XLSFORM2QGIS_COMMIT_SHA=$(echo $(grep -o -P '((https://github\.com/opengisch/xlsform2qgis/.*.tar.gz))' requirements.txt) | grep -Eo '[0-9a-f]{40}')
          mv xlsform2qgis-*.whl xlsformconverter/xlsform2qgis_${XLSFORM2QGIS_COMMIT_SHA}.whl

      - name: Release
        run: |
          XLSFORM2QGIS_COMMIT_SHA=$(echo $(grep -o -P '((https://github\.com/opengisch/xlsform2qgis/.*.tar.gz))' requirements.txt) | grep -Eo '[0-9a-f]{40}')
          qgis-plugin-ci --no-validation package ${{ github.sha }} \
              --asset-path xlsformconverter/xlsform2qgis_${XLSFORM2QGIS_COMMIT_SHA}.whl

      - name: Unzip
        run: |
          unzip xlsformconverter.${{ github.sha }}.zip -d xlsformconverter.${{ github.sha }}

      - name: Upload release assets
        uses: actions/upload-artifact@v4
        with:
          name: xlsformconverter.${{ github.sha }}
          path: ./xlsformconverter.${{ github.sha }}
